<div class="row justify-content-center my-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mb-2">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="location.name" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-2">
                        <label for="address" class="form-label">Address:</label>
                        <div class="input-group input-group-sm">
                            <input type="text" id="address" name="address" #address="ngModel" [(ngModel)]="location.address" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button type="button" (click)="addLocation()" class="btn btn-sm btn-success" [disabled]="loading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                            Add Location
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

