@import "https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css";

#map {
    height: 90%;
    min-height: 675px;
    width: 100%;
    min-width: 650px;
    margin: auto;
}

#marker {
    background-image: url(/assets/IBM_BeeLogo_BlackandWhite.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.maplibregl-popup {
    max-width: 200px;
}