<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">IBM Discount Finder</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/signUp" routerLinkActive="active" *ngIf="!isAuthenticated">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signIn" routerLinkActive="active" *ngIf="!isAuthenticated">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active" *ngIf="isAuthenticated">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">Sign out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addLocation" routerLinkActive="active" *ngIf="isAuthenticated">Add Location</a>
            </li>
        </ul>
    </div>

</nav>

<router-outlet></router-outlet>

<footer class="text-center text-white" style="background-color: #f1f1f1;">

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: IBM
        <div>
            <img src="/assets/IBMLogo.png" alt="IBM Logo" width="150" height="150">
        </div>
    </div>

</footer>