<div class="row justify-content-center my-5">
    <h1>Profile Information for user with email {{ user.email }}</h1>
    <div class="col-4">  
        <h2>
            <a class="nav-link link-primary" routerLink="/editProfile" routerLinkActive="active">Edit profile</a>
        </h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">First name</th>
                    <td>{{ restUser.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Last name</th>
                    <td>{{ restUser.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Date of birth</th>
                    <td>{{ restUser.dateOfBirth }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ restUser.streetAddress1 }}<br>{{ restUser.streetAddress2 }}<br>{{ restUser.city }}, {{restUser.state}} {{restUser.zipCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
