<div class="row justify-content-center my-5">
    <div class="col-4" *ngIf="deleteButtonClicked">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Warning!</h1>
                <p class="lead">You are about to delete your entire account and all information associated with it!</p>
                <form>
                    <div class="form-group">
                        <label for="email">To continue, enter your email</label>
                        <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="inputEmail">
                    </div>
                    <button type="submit" class="btn btn-danger" (click)="deleteAccount()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                        Delete
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="unclickDeleteButton()">Cancel</button>
                    <div *ngIf="inputError" class="alert alert-danger mt-3 mb-0">{{inputError}}</div>
                </form> 
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="!deleteButtonClicked">  
        <h1>Profile Information for user with email {{ user.email }}</h1>
        <h2>
            <a class="nav-link link-primary" routerLink="/editProfile" routerLinkActive="active">Edit profile</a>
            <button type="button" class="btn btn-danger" (click)="clickDeleteButton()">Delete account</button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">First name</th>
                    <td>{{ restUser.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Last name</th>
                    <td>{{ restUser.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Date of birth</th>
                    <td>{{ restUser.dateOfBirth }}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{ restUser.streetAddress1 }}<br>{{ restUser.streetAddress2 }}<br>{{ restUser.city }}, {{restUser.state}} {{restUser.zipCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
