<div class="row justify-content-center my-5">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="updateProfileForm" (ngSubmit)="updateUser()">
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="firstName" class="form-label">First name:</label>
                            <input type="text" id="firstName" name="firstName" formControlName="firstName" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First name is required.</div>
                                <div *ngIf="f.firstName.errors.minLength">First name must be at least 2 characters</div>
                                <div *ngIf="f.firstName.errors.maxLength">First name cannot exceed 35 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="lastName" class="form-label">Last name:</label>
                            <input type="text" id="lastName" name="lastName" formControlName="lastName" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last name is required.</div>
                                <div *ngIf="f.lastName.errors.minLength">Last name must be at least 2 characters</div>
                                <div *ngIf="f.lastName.errors.maxLength">Last name cannot exceed 35 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                            <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
                            <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                                <div *ngIf="f.dateOfBirth.errors.required">Date of Birth is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="streetAddress1" class="form-label">Street Address 1:</label>
                            <input type="text" id="streetAddress1" name="streetAddress1" formControlName="streetAddress1" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.streetAddress1.errors }">
                            <div *ngIf="submitted && f.streetAddress1.errors" class="invalid-feedback">
                                <div *ngIf="f.streetAddress1.errors.maxLength">Street Address 1 cannot exceed 50 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="streetAddress2" class="form-label">Street Address 2:</label>
                            <input type="text" id="streetAddress2" name="streetAddress2" formControlName="streetAddress2" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.streetAddress2.errors }">
                            <div *ngIf="submitted && f.streetAddress2.errors" class="invalid-feedback">
                                <div *ngIf="f.streetAddress2.errors.maxLength">Street Address 2 cannot exceed 50 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="city" class="form-label">City:</label>
                            <input type="text" id="city" name="city" formControlName="city" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.maxLength">City cannot exceed 50 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="state" class="form-label">State: </label>
                            <select formControlName="state" class="custom-select">
                                <option value="" disabled>Choose your state</option>
                                <option *ngFor="let state of State" [ngValue]="state">{{state}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mb-2">
                            <label for="zipCode" class="form-label">Zip Code:</label>
                            <input type="text" id="zipCode" name="zipCode" formControlName="zipCode" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
                            <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                                <div *ngIf="f.zipCode.errors.minLength">Zip Code must be at least 5 characters</div>
                                <div *ngIf="f.zipCode.errors.maxLength">Zip Code cannot exceed 9 characters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-sm btn-success" [disabled]="loading">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                                Update profile
                            </button>
                            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
